<body>
    <script>
        window.open(location.href.replace('main', 'form'));
        window.open(location.href.replace('main', 'execute'));

        location.href = 'http://challenge01.root-me.org:58003/profile';
    </script>
</body>